@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-darkBlue;
  }
  a {
    @apply font-[700];
    @apply hover:underline;
  }
  button:focus,
  input:focus,
  textarea:focus,
  select:focus {
    @apply outline-none outline-2 outline-customFocus outline-offset-4; /* Custom styles for focus */
  }
  h1 {
    @apply text-h1;
  }
  h2 {
    @apply text-h2;
    @apply font-[700]
  }
  h3 {
    @apply text-h3;
  }
  h4 { 
    @apply text-p; /*not great great that this always ties h4's size to the
                     base text size but I feel like that's fine in this case */
    @apply font-bold;
  }
  p {
    @apply text-p;
  }

  div.help-wrapper > h2 {
    @apply mb-[16px];
  }
  div.help-wrapper > h3,
  div.help-wrapper > h4 {
    @apply mb-[16px];
    @apply mt-[32px];
  }
  div.help-wrapper > p {
    @apply mb-[16px]
  }

  div.help-wrapper {
    @apply text-white
  }

}

@layer utilities {
  .focus-custom {
    @apply ring-2 ring-blue-500 outline-none; 
  }
}

@layer components{
  button.btn {
    @apply text-p font-[700] rounded-full px-[12px] py-[8px] tablet:py-[12px];
  }
  button.btn:disabled {
    @apply cursor-not-allowed
  }

  button.btn-primary {
    @apply bg-offblack text-white
  }
  button.btn-primary:hover {
    @apply bg-btn-primary-hover
  }
  button.btn-primary:disabled {
    @apply bg-btn-primary-disabled text-opacity-50
  }
  
  button.btn-ghost {
    @apply border border-white text-white
  }
  button.btn-ghost:hover {
    @apply bg-btn-ghost-hover border-transparent
  }
  button.btn-ghost:disabled {
    @apply border border-opacity-40 text-opacity-40
  }
  
  button.btn-blue {
    @apply bg-btn-blue-normal text-white
  }
  button.btn-blue:hover {
    @apply bg-btn-blue-hover
  }
  button.btn-blue:disabled {
    @apply bg-btn-blue-disabled text-opacity-50
  }
}